<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
</head>
<body>
<%- include('../partials/header.ejs') %> 
<main>
    <h1>Update Event</h1>
    <p><small>Only choose a file if you'd like to update the image</small></p>  
    <form method="POST" action="/events/<%=event.id%>?_method=PUT" id="event-form" enctype="multipart/form-data">
        <label for="category"><strong>Category</strong></label>
            <select name="category" id="category" required>
                <option value="" disabled>--Select a Category--</option>
                <option value="Soccer" <%=event.category === 'Soccer' ? 'selected' : ''%>>Soccer</option>
                <option value="Basketball" <%=event.category === 'Basketball' ? 'selected' : ''%>>Basketball</option>
                <option value="Softball" <%=event.category === 'Softball' ? 'selected' : ''%>>Softball</option>
                <option value="Tennis" <%=event.category === 'Tennis' ? 'selected' : ''%>>Tennis</option>
                <option value="Pickleball" <%=event.category === 'Pickleball' ? 'selected' : ''%>>Pickleball</option>
                <option value="Other" <%=event.category === 'Other' ? 'selected' : ''%>>Other</option>
            </select>
        <label for="title"><strong>Title</strong></label>
        <input type="text" name="title" id="title" value="<%=event.title%>" required>   
        <label for="host"><strong>Host</strong></label>
        <input type="text" name="host" id="host" value="<%=event.host%>" required>  
        <label for="details"><strong>Details</strong></label>
        <textarea name="details" id="details" rows="3" cols="50" required><%=event.details%></textarea>
        <label for="where"><strong>Where</strong></label>
        <input type="text" name="where" id="where" value="<%=event.where%>" required>
        <label for="start"><strong>Start</strong></label>
        <input type="datetime-local" name="start" id="start" value="<%=event.start%>" required>       
        <label for="end"><strong>End</strong></label>
        <input type="datetime-local" name="end" id="end" value="<%=event.end%>" required> 
        <label for="eventImage"><strong>Image</strong></label>
        <input type="file" name="eventImage" id="eventImage" accept="image/*">  
        <label for="current-image"><strong>Current Image</strong></label>
        <img src="/images/event/<%=event.eventImage%>" alt="update-event-image" class="update-image">
        <button type="submit"><strong>Submit</strong></button>
    </form>
</main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>