<%- include('../partials/header.ejs') %> 
    <h1><%=event.category%> Event</h1>
    <div class="event-container">
        <div class= event-header>
            <h2><%=event.title%></h2>
            <% if (event.host._id != user.id) { %>
                <form class="rsvp-form" action="/events/<%= event.id %>/rsvp" method="POST">
                    <p><small>Going?</small></p>
                    <input id="YES" type="submit" name="YES" value="YES">
                    <input id="NO" type="submit" name="NO" value="NO">
                    <input id="MAYBE" type="submit" name="MAYBE" value="MAYBE">
                </form>
            <% } %>
        </div>

        <img src="/images/event/<%=event.eventImage%>" alt="event-img">
        <div class="event-details">
            <p><strong>Host: </strong><%=event.host.firstName + ' ' + event.host.lastName%></p>
            <p><strong>When: </strong><%=dateFormat(event.start)%></p>
            <p><strong>Until: </strong><%=dateFormat(event.end)%></p>
            <p><strong>Location: </strong><%=event.location%></p>
            <p><strong>Details: </strong><%=event.details%></p>
            <p><strong>Number of RSVPs: <%=rsvps.filter(rsvp => rsvp.status === 'YES').length %></strong></p>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %>