<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLT Sports</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<%- include('../partials/header.ejs') %> 
<main>
    <h1>Event</h1>
    <div class="event-container">
        <div class= event-header>
            <h2><%=event.title%></h2>
            <form id="event-buttons-form">
                <h2 class="event-edit">&nbsp;
                    <button type="submit" formmethod="GET" formaction="/events/<%=event.id%>/edit">
                        <i class="fa-regular fa-pen-to-square fa-2xl"></i>
                    </button>
                </h2>
                <h2 class="event-delete">&nbsp;
                    <button type="submit" formmethod="POST" formaction="/events/<%=event.id%>/?_method=DELETE">
                        <i class="fa-regular fa-trash-can fa-2xl"></i>
                    </button>
                </h2>
            </form>
        </div>
        <img src="../images/logo.png" alt="event-img">
        <div class="event-details">
            <p><strong>Host: </strong><%=event.host%></p>
            <p><strong>When: </strong><%=event.start%></p>
            <p><strong>Until: </strong><%=event.end%> </p>
            <p><strong>Where: </strong><%=event.where%></p>
            <p><strong>Details: </strong><%=event.details%></p>
            <% console.log(event.start) %>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>