<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLT Sports</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<%- include('../partials/header.ejs') %> 
<main>
    <h1>Event</h1>
    <div class="event-container">
        <div class= event-header>
            <h2><%=event.title%></h2>
            <h2 class="event-edit">&nbsp;
                <button><i class="fa-regular fa-pen-to-square fa-2xl"></i></button>
            </h2>
            <h2 class="event-delete">&nbsp;
                <button><i class="fa-regular fa-trash-can fa-2xl"></i></button>
            </h2>
        </div>
        <img src="../images/logo.png" alt="event-img">
        <div class="event-details">
            <p><strong>Host: </strong><%=event.host%></p>
            <p><strong>Date and Time: </strong> Wed, Oct 4, 2023, 6pm - 8pm</p>
            <p><strong>Where: </strong><%=event.where%></p>
            <p><strong>Details: </strong><%=event.content%></p>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>