<%- include('../partials/header.ejs') %> 
<main>
    <h1>Events</h1>
    <% if(events.length) { %>
        <% const categories = {}; %>
        <% events.forEach(event => { %>
            <% if (!categories[event.category]) { %>
                <% categories[event.category] = []; %>
            <% } %>
            <% categories[event.category].push(event); %>
        <% }); %>       
        <% for (const category in categories) { %>
            <h2><%=category%></h2>
            <ul class="events-container">
                <% categories[category].forEach(event => { %>
                    <li><a href="/events/<%=event.id%>"><%=event.title%> <small>(<%=event.where%>)</small></a></li>
                <% }); %>
            </ul>
        <% } %>

    <% } else { %>
        <p>There are no events to display</p>
    <% }; %>
</main>
<%- include('../partials/footer.ejs') %> 